@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: /*url(bg.jpg)linear-gradient(26deg, red, yellow)*/  #36393f; /* 36393f - Discord Background */
}
.logo {
  padding-top: -100px;
  position: relative;
  line-height: 80px;
  margin-left: 2em;
  bottom: 20px;
  font-size: 15px;
  color: #fff;
}

.logo ion-icon {
  color: #fff;
  margin-left: 7px;
  position: relative;
  top: 1px;
}

p {
  text-align: center;
  margin-top: 50%;
  font-weight: bold;
  color: #fff;
}

h2 {
  text-align: center;
  color: #fff;
}

a {
  text-decoration: none;
  background: #252525;
  padding: 10px;
  color: #2ffa2e;
  border: 2px solid #2ffa2e;
}

.container {
  justify-content: center;
  align-items: center;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #252525;;
  border: 2px solid #2ffa2e;
  text-shadow: 0 15px 60px rgba(0,0,0,.5);
}

.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}

.container .card .face.face1:nth-child(1)

.container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
  margin-left: 2%;
}

.container .card .face.face2 {
  background: #111;
  transition: 0.5s;
}

.container .card:nth-child(1) .face.face2 {
  background: linear-gradient(45deg,#3503ad,#f7308c);
}

.container .card:nth-child(2) .face.face2 {
  background: linear-gradient(45deg,#ccff00,#09afff);
}

.container .card:nth-child(3) .face.face2 {
  background: linear-gradient(45deg,#e91e63,#ffeb3b);
}

.container .card:hover .face.face2 {
  height: 60px;
}

.container .card .face.face2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,.1)
  
}

.container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.2)
}

.container .card:hover .face.face2 h2 {
  font-size: 2em;
}